* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Styling of the text area of each time block. */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 5px solid black;
  border-top: 1px dashed #000000;
  padding: 10px;
}

/* Styling of the jumbotron/header */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* Styles the data of the time block. */
.toDo {
  white-space: pre-wrap;
}

/* Styles the display of the time of day for each hour. */
.time-block {
  text-align: center;
  border-radius: 15px;
}

/* Styles the time blocks in terms of the size and white space of the area. */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* Styles the columns that hold the hour of the day. */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 32px;
}

/* Sets the color of any time blocks that are in the past based on the current hour. */
.past {
  background-color: #d3d3d3;
  color: white;
}

/* Sets the color of the current time block based on the current hour. */
.present {
  background-color: #fa8072;
  color: white;
}

/* Sets the color of any time blocks that are in the future based on the current hour. */
.future {
  background-color: #00fb97;
  color: white;
}

/* Styles the save button. */
.saveBtn {
  border-left: 5px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

/* Creates a hover effect for the save button. */
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/* Styles the Font Awesome save icon. */
.fa-save {
  font-size: 30px;
  color: #000000;
}
